* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: #262626;
}

a {
    text-decoration: none;
    color: #262626;
}

body {
    background-color: #fafafa;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 736px;
    margin: auto;
}

.inner-container {
    display: flex;
    margin-top: 40px;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    height: 100%;
    max-height: 90vh;
}

/** image-container section */

.image-container {
    width: 60%;
    position: relative;
}

.icon-container {
    position: absolute;
    left: 8px;
    bottom: 8px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container i {
    color: white;
    font-size: 12px;
}

.comment-container {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/** comment-container section */

.comment-header {
    padding: 16px;
    display: flex;
    border-bottom: 1px solid #efefef;
    align-items: center;
    font-size: 14px;
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #a2d8e9;
    margin-right: 16px;
}

.dot-divider {
    margin: 0 4px;
}

.follow-link {
    color: #3897f0;
    font-weight: bold;
}

.more-options {
    margin-left: auto;
}

.comment-feed-container {
    padding: 16px;
    flex: 1;
    height: 100%;
    max-height: calc(100% - 250px);
    overflow-y: auto;
}

.comment {
    display: flex;
    margin: 8px 0;
}

.comment-content {
    margin: 0;
}

.comment-container-footer {
    padding: 16px;
    border-top: 1px solid #efefef;
}

.icons-container {
    display: flex;
}

.icons-container i {
    font-size: 24px;
    margin-right: 4px;
}

.icons-container i:last-child {
    margin-left: auto;
    margin-right: 0;
}

.input-container {
    display: flex;
    border-top: 1px solid #efefef;
}

.comment-input {
    flex: 1;
    border: none;
    font-size: 14px;
}

.comment-button {
    background: transparent;
    border: none;
    color: #3897f0;
    font-weight: bold;
    font-size: 14px;
}

.comment-like {
    transform: scale(1);
    transition: all 0.25s ease;
}

.comment-like-active {
    color: blue;
    transform: scale(1.5);
}
